<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>实力对比</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--加载等待样式-->
    <link rel="stylesheet" type="text/css" href="./css/report_upload/loadingbutton.css">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>

    <link rel='stylesheet' href='./css/common/modalBox.css'>

    <style type="text/css">
        .roleCodes {
            color: #7e5bbe;
        }
    </style>
</head>
<body style="background-color: inherit">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div class="box">
        <!--次导航栏-->
        <div style="display: block; padding: 0;margin-left: 20px">
            <blockquote class="layui-elem-quote layui-text">
                <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;color: #0f4485">
                    <li><a href="JS_Index">首页</a></li>
                    <li><a href="JS_PowerUpload">情报信息</a></li>
                    <li class="active">原始语料库</li>
                </ol>
            </blockquote>
        </div>
    <div style="padding-left: 50px">
        <h2></h2>
        <div class="row">

            <div class='col-sm-3'>
                <div class="form-group">
                    <!--指定 date标记-->
                    <div class='input-group'>
                        <a>关键词：</a>
                        <input id="keywords" style="width: 290px" type='text' class="form-control" placeholder="请输入要查找的实体名称"/>
                    </div>
                </div>
            </div>
            <div class="search_input">
                <button class="btn btn-primary search_btn" type="button" id="search_btn">实体查询</button>
            </div>
        </div>        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th style="width: 50px"><input id="checkAll" type="checkbox" /></th>
                <th style="width: 100px">编号</th>
                <th style="">名称</th>
                <th style="width: 180px">领域</th>
                <th style="width: 180px">标签</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="data :${pageInfo.list}">
                <td><input type="checkbox"></td>
                <td  th:text="${data.id}"></td>
                <td  th:text="${data.name}"></td>
                <td  th:text="${data.field}"></td>
                <td  th:text="${data.label}"></td>
            </tr>

            </tbody>
        </table>

        <nav aria-label="Page navigation" class="" style="margin-left: 890px;">
            <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
            <a th:href="@{'/JS_Helper?keywords='+${key}}">首页</a>
            <a th:href="@{/JS_Helper(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1,keywords=${key})}">上一页</a>
            <a th:href="@{/JS_Helper(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages},keywords=${key})}">下一页</a>
            <a th:href="@{/JS_Helper(pageNum=${pageInfo.pages},keywords=${key})}">尾页</a>
        </nav>

    </div>
    </div>
</div>
</body>
    <script>
        $("#search_btn").click(function () {
            var keywords = $('#keywords').val();
            window.location.href="/JS_Helper?keywords="+keywords;
        });
    </script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</html>