<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文本标注</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--加载等待样式-->
    <link rel="stylesheet" type="text/css" href="./css/report_upload/loadingbutton.css">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>

    <link rel='stylesheet' href='./css/common/modalBox.css'>

    <style type="text/css">
        .spinner {
            width: 40px;
            height: 40px;

            position: relative;
            margin: auto;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #333;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    </style>

    <script>
        $(function () {
            var systemLabel = [];
            $("#submit_args").click(function () {
                var threshold = $("#threshold").val();
                var batchSize = $("#batchsize").val();
                var labelNum = 0;
                $("#labelNum option").each(function () {
                    if ($(this).prop("selected")) {
                        labelNum = $(this).html();
                        return false;
                    }
                });
                var learningRate = $("#learningRate").val();
                var numEpochs = $("#numepoch").val();
                systemLabel = $("#labelSystem").val().split(",");
                $.ajax({
                    url: "http://127.0.0.1:10086/init",
                    method: 'POST',
                    dataType: 'jsonp',
                    jsonp: "callback",
                    jsonpCallback: "successCallback",//回调方法
                    data: {
                        threshold:threshold,
                        batchSize:batchSize,
                        labelNum:labelNum,
                        learningRate:learningRate,
                        numEpochs:numEpochs,
                        systemLabel:systemLabel
                    },
                    success:function (data) {
                        if ("success" === data){
                            alert("设置参数成功,请开始你的标注之旅吧");
                        }
                    }
                });
            });
            $("#get_label").click(function () {
                var select = '<select class="form-control select_down"\n' +
                    '                                    style="font-size: 13px; color: #666;">\n';
                for (var label of systemLabel) {
                    select += "<option>" + label + "</option>"
                }
                select += "</select>";
                $.ajax({
                    url: "http://127.0.0.1:10086/select_data",
                    method: 'POST',
                    dataType: 'jsonp',
                    jsonp: "callback",
                    jsonpCallback: "successCallback",//回调方法
                    success:function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            $("#show_tbody").append("<tr>" +
                                "                    <td>" + data[i].index + "</td>" +
                                "                    <td>" +
                                "                        <div style='overflow-y: auto;height: 200px;text-align: left'>" +
                                                         data[i].text +
                                "                        </div>" +
                                "                    </td>" +
                                "                    <td>" +
                                                     select +
                                "                    </td>" +
                                "                </tr>");
                        }
                    }
                });
            });
            
            $("#submit_label").click(function () {
                var labels = new Array();
                $("#show_tbody > tr").each(function (index) {
                    var label = {};
                    var num = $(this).children().eq(0).html();
                    var value = "";
                    $(this).children().eq(2).children().eq(0).children().each(function () {
                        if ($(this).prop("selected")){
                            value = $(this).html();
                        }
                    });
                    label["index"] = num;
                    label["label"] = value;
                    labels[index] = label;
                });
                console.log(labels);
                $.ajax({
                    url: "http://127.0.0.1:10086/train_model",
                    method: 'POST',
                    dataType: 'jsonp',
                    data:{
                      'labels':JSON.stringify(labels)
                    },
                    jsonp: "callback",
                    jsonpCallback: "successCallback",//回调方法
                    success:function (data) {
                        $("#result_div").show();
                        $("#result").html(data);
                    }
                })
            });
        })
    </script>
</head>
<body style="background-color: inherit">

<div th:insert="~{JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{JS_Common::leftbar}"></div>
    <div class="box">
        <!--次导航栏-->
        <div style="display: block; padding: 0;margin-left: 20px">
            <blockquote class="layui-elem-quote layui-text">
                <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;color: #0f4485">
                    <li><a href="JS_Index">首页</a></li>
                    <li><a href="JS_PowerUpload">指标验证</a></li>
                    <li class="active">文本标注</li>
                </ol>
            </blockquote>
        </div>
        <div style="padding-left: 50px">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <label>阈值：</label>
                        <!--指定 date标记-->
                        <div class='input-group' style="z-index: 1">
                            <input id="threshold" style="width: 290px" type='text' class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class="form-group">
                        <label>batchSize：</label>
                        <!--指定 date标记-->
                        <div class='input-group' style="z-index: 1">
                            <input id="batchsize" style="width: 290px" type='text' class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class="form-group">
                        <label>标注数量</label>
                        <select id="labelNum" class="form-control select_down"
                                style="font-size: 13px; color: #666;">
                            <option>请选择每次标注的文章数量</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                    </div>
                </div>

                <div class="search_input">
                    <button class="btn btn-primary search_btn" type="button" id="get_label">标注数据</button>
                </div>
            </div>

        <div class="row">

            <div class='col-sm-3'>
                <div class="form-group">
                    <label>learningRate：</label>
                    <div class='input-group' style="z-index: 1">
                        <input id="learningRate" style="width: 290px" type='text' class="form-control"/>
                    </div>
                </div>
            </div>

            <div class='col-sm-3'>
                <div class="form-group">
                    <label>numEpochs：</label>
                    <div class='input-group' style="z-index: 1">
                        <input id="numepoch" style="width: 290px" type='text' class="form-control"/>
                    </div>
                </div>
            </div>

            <div class='col-sm-3'>
                <div class="form-group">
                    <label>指标体系：</label>
                    <div class='input-group' style="z-index: 1">
                        <input id="labelSystem" style="width: 290px" type='text' class="form-control" placeholder="请以英文逗号进行分隔"/>
                    </div>
                </div>
            </div>

            <div class="search_input">
                <button class="btn btn-primary search_btn" type="button" id="submit_args">提交参数</button>
            </div>
        </div>
            <!--表格列表-->
            <table id="tb" class="table" width="100%"  style="table-layout:fixed">
                <thead>
                <tr>
                    <th style="width: 60px">编号</th>
                    <th style="width: 300px">内容</th>
                    <th style="width: 100px">手工标注</th>
                </tr>
                </thead>
                <tbody id="show_tbody">
                <!--<tr>-->
                    <!--<td>-->
                        <!--1-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div style='overflow-y: auto;height: 200px;text-align: left'>-->

                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="form-group">-->
                            <!--<select class="form-control select_down"-->
                                    <!--style="font-size: 13px; color: #666;">-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>

            <button id="submit_label" class="btn btn-primary" style="display: block;margin: 0 auto">提交标注</button>
            <div id="result_div" style="text-align: center;font-size: 24px" hidden>
                本次标注后验证集上的准确率为<span id="result" style="color: blue"></span>
            </div>
        </div>
    </div>
    </div>
</body>
</html>