<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台布局</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap/ui-elements/card.css">
    <link rel="stylesheet" href="../css/common_css/style.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-table.min.css">
    <script src="../js/bootstrap/jquery.min.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/bootstrap/bootstrap-table.min.js"></script>


    <!--有道智云API所需JS文件-->
    <script src="http://shared.ydstatic.com/js/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="https://cdn.bootcss.com/js-sha256/0.9.0/sha256.js"></script>
    <!--下面不用改-->
    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <style>
        body {
            position: relative;
        }

        #first_div {
            position: absolute;
            left: 50%;
            margin-left: -300px;
            width: 600px;
            height: 400px;
        }

        #api_output {
            height: 20px;
            padding-left: 5px;
        }

        circle {
            fill: #ccc;
            stroke: #333;
            stroke-width: 1.5px;
            margin-top: 20px;
        }

        text {
            font: 12px Microsoft YaHei;
            pointer-events: none;
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        }

        .spinner {
            width: 40px;
            height: 40px;

            position: relative;
            margin: auto;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #333;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        .list {
            width: 450px;
        }

        .list table {
            font-family: verdana, arial, sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #a9c6c9;
            border-collapse: collapse;
        }

        .list table th {
            text-align: center;
            border-width: 1px;
            padding: 18px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        .list table td {
            text-align: center;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }
    </style>

</head>
<body>

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div style="display: block;height: 2000px;width:100%">
        <blockquote  class="layui-elem-quote layui-text">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
                <div>
                    <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;">
                        <li><a href="/JS_Index">首页</a></li>
                        <li><a href="/JS_Entity">信息抽取</a></li>
                        <li class="active">新领域识别</li>
                    </ol>
                </div>
            </div>
        </blockquote>

        <div style="float: none;display: flex;flex-direction: column;align-items: center">
            <div style="padding-bottom: 0.5cm;">
                <div class="card text-center bg-light">
                    <div class="card-body" style="padding-bottom: 0.2cm;width: 1000px;">

                        <div class="panel panel-primary">
                            <div  class="panel-heading" style="text-align: center">新领域文本内容</div>

                            <div class="panel-body" style="height: 300px">
                                <textarea style=" height: 100%;width: 100%;border-radius:5px;border: 0;
                                        background-color:rgb(255,255,255);text-align:justify;overflow: auto" id="input" type="text"
                                          name="input" placeholder="请输入需要识别的句子">
                                </textarea>
                            </div>


                            <div class="panel-footer" style="display: flex">
                                <input name="file" multiple id="fileId" type="file" style="display:none"
                                       onchange="uploadFile()">
                                <div class="input-append">
                                    <input id="uploadPath" class="input-large" type="text" disabled style="height:30px;">
                                    <a class="btn btn-default"
                                       style="height: 30px ;margin-top: -4px;background-color: #337ab7;color: white"
                                       onclick="$('input[id=fileId]').click();">文件上传</a>
                                </div>
                                <button class="btn btn-default"
                                        style="height: 30px ;margin-left:180px;background-color: #337ab7;color: white"
                                        id="btn">信息提取
                                </button>
                            </div>
                        </div>

                        <div class="spinner" id="spinner" style="display: none">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading"><span style="margin-right:450px;">原模型识别</span>迁移模型识别</div>
                            <div class="panel-body" style="display: flex;padding: 0px">
                                <div style=" display: flex; flex-direction: row;width: 1100px">
                                    <div id="scroll" style="width:500px;height: 300px;overflow-y: auto">
                                        <br>
                                        <div id="api_output"
                                             style="height: 150px;width: 100%;border: 0;border-radius:5px;
                                     background-color:rgb(255,255,255);text-align:justify;" type="text">
                                        </div>
                                    </div>
                                    <div style="float:left;margin-top: 0px;width: 1px;height: 300px; background:#eeeeee;"></div>
                                    <div id="scroll2" style="width:500px;height: 300px;overflow-y: auto">
                                        <br>
                                        <div id="api_output2"
                                             style="height: 150px;width: 100%;border: 0;border-radius:5px;
                                     background-color:rgb(255,255,255);text-align:justify;" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading"><span style="margin-right:450px;">原模型识别</span>迁移模型识别</div>
                            <div class="panel-body" style="display: flex;flex-direction: row;justify-content:space-between">
                                <div style="overflow-y: auto;">
                                    <div style="width:450px;height: 300px;">
                                        <br>
                                        <div class="list">
                                            <table class="altrowstable" id="alternatecolor">
                                                <tr>
                                                    <th width="150px">实体类别</th>
                                                    <th width="300px">实体</th>
                                                    <!--<th width="90px">颜色标注</th>-->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div style="overflow-y: auto;">
                                    <div style="width:450px;height: 300px;">
                                        <br>
                                        <div class="list">
                                            <table class="altrowstable" id="alternatecolor2">
                                                <tr>
                                                    <th width="150px">实体类别</th>
                                                    <th width="300px">实体</th>
                                                    <!--<th width="90px">颜色标注</th>-->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">新旧模型实体对比图</div>
                            <div class="panel-body" id="echart" style="height: 600px"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        //使用s2替换掉所有的s1字串
        String.prototype.replaceAll = function(s1,s2) {
            return this.replace(new RegExp(s1,"img"),s2);

        };

        <!--获得上传文件内容-->
        function uploadFile() {
            var objFile = document.getElementById("fileId");
            if (objFile.value == "") {
                alert("文件内容不能为空")
            }
            var files = $('#fileId').prop('files'); //获取到文件列表
            console.log(files.length);
            if (files.length == 0) {
                alert('请选择文件');
            } else {
                for (var i = 0; f = files[i]; i++) {
                    var reader = new FileReader(); //新建一个FileReader
                    reader.readAsText(files[i], "UTF-8"); //读取文件
                    $("#uploadPath").val("" + f.name);
                    reader.onload = function (evt) { //读取完文件之后会回来这里
                        var fileString = evt.target.result; // 读取文件内容
                        $("#input").val("" + fileString);
                        fileContent = fileString;
                        // console.log(fileString)
                    }
                }
            }
        }

        <!--表格隔行换色-->
        function altRows(id) {
            if (document.getElementsByTagName) {

                var table = document.getElementById(id);
                var rows = table.getElementsByTagName("tr");

                for (var i = 0; i < rows.length; i++) {
                    if (i % 2 == 0) {
                        rows[i].className = "evenrowcolor";
                    } else {
                        rows[i].className = "oddrowcolor";
                    }
                }
            }
        }

        //将后端返回结果在原文中进行标红
        /**
         * jquery1:第一个结果选择器(文本)
         * jquery2:第二个结果选择器(表格)
         * map:结果容器
         * input:需要标记的原文本
         */
        function flagColor(jquery1,jquery2,map,input,color){
            for (var prop in map) {
                console.log(prop)
                var entity = "";
                if (map.hasOwnProperty(prop)) {
                    for (var i = 0; i < map[prop].length; i++) {
                        if (map[prop][i] !== "") {
                            entity = entity + map[prop][i] + "、";
                            input = input.replaceAll(map[prop][i], "<span style='color:" + color + "'>" + map[prop][i] + "</span>");
                        }
                    }
                }
                if (jquery2 !== null){
                    if (entity != null && entity !== "") {
                        var tr = $("<tr></tr>");
                        tr.html("<td width='140px'>" + prop + "</td><td width='300px'>" + entity );
                        //+ "</td><td width='90px'>" + color + "</td>"
                        jquery2.append(tr);
                    }
                }
            }
            jquery1.html(input);
        }

        /**
         * 标记中新模型识别出旧模型未识别出的实体(如果map1包含有map2的内容则标记为blue)(未实现)
         */
        function flagTableColor(jquery1,jquery2,map1,map2,input,color){
            for (var prop in map) {
                var entity = "";
                if (map.hasOwnProperty(prop)) {
                    for (var i = 0; i < map[prop].length; i++) {
                        if (map[prop][i] !== "") {
                            entity = entity + map[prop][i] + "、";
                            input = input.replaceAll(map[prop][i], "<span style='color:" + color + "'>" + map[prop][i] + "</span>");
                        }
                    }
                }
                if (jquery2 !== null){
                    if (entity != null && entity !== "") {
                        var tr = $("<tr></tr>");
                        tr.html("<td width='140px'>" + prop + "</td><td width='300px'>" + entity );
                        //+ "</td><td width='90px'>" + color + "</td>"
                        jquery2.append(tr);
                    }
                }
            }
            jquery1.html(input);
        }

        /**
         * 展示新旧模型对比()
         */
        function echartShow(old_only,new_only,intersect){
            var myChart = echarts.init(document.getElementById('echart'));
            var categories = [];
            categories[0] = {name: "旧模型识别实体"};
            categories[1] = {name: "新模型识别实体"};
            categories[2] = {name: "新旧模型实体识别"};
            var data = [];
            var count = 0;
            for (var key in old_only){
                for (var i = 0 ; i < old_only[key].length ; i++){
                    data[count] = {
                        name: old_only[key][i],
                        symbolSize: 50,
                        category: 0
                    };
                    count ++;
                }
            }
            for (key in new_only){
                for ( i = 0 ; i < new_only[key].length ; i++){
                    data[count] = {
                        name: new_only[key][i],
                        symbolSize: 50,
                        category: 1
                    };
                    count ++;
                }
            }
            for (key in intersect){
                for ( i = 0 ; i < intersect[key].length ; i++){
                    data[count] = {
                        name: intersect[key][i],
                        symbolSize: 50,
                        category: 2
                    };
                    count ++;
                }
            }
            option = {
                // 图的标题
                title: {
                    text: '新旧模型实体对比图'
                },
                // 提示框的配置
                tooltip: {
                    formatter: function (x) {
                        return x.data.des;
                    }
                },
                // 工具箱
                toolbox: {
                    // 显示工具箱
                    show: true,
                    feature: {
                        mark: {
                            show: true
                        },
                        // 还原
                        restore: {
                            show: true
                        },
                        // 保存为图片
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                legend: [{
                    // selectedMode: 'single',
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                series: [{
                    type: 'graph', // 类型:关系图
                    layout: 'force', //图的布局，类型为力导图
                    symbolSize: 50, // 调整节点的大小
                    roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [2, 10],
                    edgeLabel: {
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 2500,
                        edgeLength: [10, 50]
                    },
                    draggable: true,
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: '#4b565b',
                        }
                    },
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (x) {
                                return x.data.name;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {}
                        }
                    },
                    // 数据
                    /**
                     * 格式：{
                        name: 'node01',
                        des: 'nodedes01',
                        symbolSize: 70,
                        category: 0}
                     */
                    data: data,
                    categories: categories
                }]
            };
            myChart.setOption(option);
        }

        $(function () {
            $("#scroll").scroll(function () {
                $("#scroll2").scrollTop($(this).scrollTop());
            });
            $("#scroll2").scroll(function () {
                $("#scroll").scrollTop($(this).scrollTop());
            });
            console.log(new Date());
            echartShow();
            $("#btn").click(function () {
                $('#btn').toggle();
                $('#spinner').toggle();
                $.ajax({
                    url:'http://127.0.0.1:7500/api',
                    data:{'input':JSON.stringify(fileContent)},
                    dataType: 'jsonp',
                    jsonp: "callback",
                    jsonpCallback: "successCallback",//回调方法
                    success:function (data) {
                        console.log(data);
                        $('#btn').toggle();
                        $('#spinner').toggle();
                        var inputText = $("#input");
                        var input1 = inputText.val();
                        var input2 = inputText.val();
                        flagColor($("#api_output"),$("#alternatecolor"),data.old,fileContent,'red');
                        flagColor($("#api_output2"),$("#alternatecolor2"),data.new,fileContent,'red');
                        flagColor($("#api_output2"),null,data.new_only,$("#api_output2").html(),'blue');
                        echartShow(data.old_only,data.new_only,data.intersect);
                    },
                    error:function () {
                        $('#btn').toggle();
                        $('#spinner').toggle();
                        alert("服务器出现了一些问题，请稍后重试");
                    }
                });
            });
        });
    </script>
</div>

</body>
</html>