<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>实力对比</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--加载等待样式-->
    <link rel="stylesheet" type="text/css" href="./css/report_upload/loadingbutton.css">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>

    <!--旭日图所需script文件-->
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/sunburst.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/series-label.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/annotations.js"></script>


    <style type="text/css">
        .roleCodes {
            color: #7e5bbe;
        }
    </style>

</head>

<body style="background-color: inherit">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>

    <div class="box">
        <!--次导航栏-->
        <div style="display: block; padding: 0;margin-left: 20px">
            <blockquote class="layui-elem-quote layui-text">
                <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;color: #0f4485">
                    <li><a href="JS_Index">首页</a></li>
                    <li><a href="JS_PowerUpload">趋势预测</a></li>
                </ol>
            </blockquote>
        </div>
        <div class="content" style="margin-left: 15px;margin-top: 30px">
            <!--搜索输入框及查询、重置按钮-->
            <div class="container content_width" style="height: auto;width: 1268px">

                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>国家:</label>
                            <select id="country" class="form-control select_down" title="请选择国家">
                                <option>中国</option>
                                <option>美国</option>
                                <option>英国</option>
                                <option>法国</option>
                                <option>俄罗斯</option>
                                <option>德国</option>
                                <option>印度</option>
                                <option>加拿大</option>
                                <option>澳大利亚</option>
                                <option>韩国</option>
                                <option>瑞士</option>
                                <option>以色列</option>
                                <option>爱尔兰</option>
                                <option>瑞典</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>领域</label>
                            <select id="firstScope" class="form-control select_down"
                                    style="font-size: 13px; color: #666;" onChange="nextChange()">
                                <option name="人工智能">人工智能</option>
                                <option name="网络攻防">网络攻防</option>
                                <option name="海军">海军</option>
                                <option name="陆军">陆军</option>
                                <option name="空军">空军</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>范围</label>
                            <select id="secondScope" class="form-control select_down"
                                    style="font-size: 13px; color: #666;">
                                <option >自然语言处理</option>
                                <option >计算机视觉</option>
                                <option >AI计划与应用</option>
                                <option >机器人技术</option>
                                <option >优化算法与理论</option>
                                <!--<option>语音识别</option>-->
                                <option >个性化推荐</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class='col-sm-3'>
                        <div class="form-group">
                            <label>来源</label>
                            <select id="publisher" class="form-control select_down"
                                    style="font-size: 13px; color: #666;">
                                <option>论文</option>
                                <option>新闻</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>数据范围</label>
                            <select id="random" class="form-control select_down"
                                    style="font-size: 13px; color: #666;width: 290px">
                                <option>100%</option>
                                <option>80%</option>
                                <option>60%</option>
                                <option>40%</option>
                                <option>20%</option>
                            </select>
                        </div>
                    </div>-->

                    <div class="search_input">
                        <button class="btn btn-primary search_btn" type="button" id="yuce">趋势预测</button>
                    </div>

                </div>
                <div class="line"></div>
            </div>
            <!--加载等待框-->
            <div id="loading" style="display: inline-flex;margin-left: 40%;margin-top: 25px">
                <div style="font-size: 20px;">正在加载中</div>
                <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                </div>
            </div>
        </div>

        <!--趋势预测-->
        <div class="row" style="margin: 30px;">
            <div id="detail5" style="text-indent: 2em;line-height:2em;margin-top:1px;margin-left:1px;font-family: 华光准圆_CNKI">
            </div>
            <div class="panel-body" id="predict_div2"
                 style="width: 800px;height: 400px;margin-left: 150px;">
            </div>
        </div>

        <!--趋势预测-技术突袭-->
        <div class="row" style="margin: 30px;">
            <div id="detail3" style="text-indent: 2em;line-height:2em;margin-top:1px;margin-left:1px;font-family: 华光准圆_CNKI">
            </div>
            <div class="panel-body" id="predict_div"
                 style="width: 800px;height: 400px;margin-left: 150px;">
            </div>
        </div>

    </div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</div>
<script>

    $(function () {

        $('#loading').hide();
        $('#greyblock').hide();

        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });

    //时间戳转换
    function createTime(v){
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        m = m<10?'0'+m:m;

        var d = date.getDate();
        d = d<10?("0"+d):d;
        var str = y+m+d;
        return str;
    }
    function nextChange()
    {
        var first = document.getElementById("firstScope");
        var second = document.getElementById("secondScope");
        second.options.length = 0; // 清除second下拉框的所有内容
        if(first.selectedIndex == 0)
        {
            second.options.add(new Option("自然语言处理", "自然语言处理"));
            second.options.add(new Option("AI计划与应用", "AI计划与应用"));
            second.options.add(new Option("机器人技术", "机器人技术"));
            second.options.add(new Option("优化算法与理论", "优化算法与理论"));
            second.options.add(new Option("个性化推荐", "个性化推荐"));
            second.options.add(new Option("计算机视觉", "计算机视觉", false, true));  // 默认选中区
        }
        if(first.selectedIndex == 1)
        {
            second.options.add(new Option("网络攻防", "网络攻防", false, true));  // 默认选中区
        }
        if(first.selectedIndex == 2)
        {
            second.options.add(new Option("海军", "海军", false, true));  // 默认选中区
        }
        if(first.selectedIndex == 3)
        {
            second.options.add(new Option("陆军", "陆军", false, true));  // 默认选中区
        }
        if(first.selectedIndex == 4)
        {
            second.options.add(new Option("空军", "空军", false, true));  // 默认选中区
        }

    }

    $(function () {
        var start = 2000;
        var end = 2019;
        $("#yuce").click(function () {
            $('#loading').show();
            start = createTime($("#datetimepicker1").find("input").val());
            end = createTime($("#datetimepicker2").find("input").val());
            //var firstScope = $('#firstScope option:selected').text();//文本
            //var lingyu = $('#secondScope option:selected').text();//文本
            //var random = $('#random option:selected').text();//文本
            var country = $('#country').val().toString();//文本
            var source = $('#firstScope').val().toString();//文本
            var select_area = $('#secondScope').val().toString();//文本
            alert(source);
            alert(select_area);
            $.ajax({
                url: "http://127.0.0.1:7650/predict",
                method: 'POST',
                dataType: 'jsonp',
                jsonp: "callback",
                jsonpCallback: "successCallback_predict",//回调方法
                contentType: 'application/json',
                data: {
                    "field": select_area,
                    "source":source,
                },
                success: function (data) {
                    console.log("data=" + data);
                    data = JSON.stringify(data);
                    var predict_data = JSON.parse(data);
                    $("#detail3").html(predict_data.text);
                    printPredictLabel(predict_data);
                    $('#loading').hide();
                },
            });

            $.ajax({
                url: "http://127.0.0.1:7005/predict2",
                method: 'POST',
                dataType: 'jsonp',
                jsonp: "callback",
                jsonpCallback: "successCallback_predict2",//回调方法
                contentType: 'application/json',
                data: {
                    "field": select_area,
                    "country":country,
                },
                success: function (data) {
                    console.log("data=" + data);
                    data = JSON.stringify(data);
                    var predict_data = JSON.parse(data);
                    $("#detail5").html(predict_data.text);
                    printPredictLabel2(predict_data);
                },
            });
        });

        //预测-技术成熟度
        function printPredictLabel(data) {

            console.log(typeof data);
            var country = $("#country").val().toString().replaceAll(",", "、")
            var field = $("#firstScope").val().toString()
            var result= [];
            var push1 = {};
            push1["name"] = "历史数据";
            var data_history = Array.prototype.slice.call(data.history);
            var warn_point = data_history.pop();
            data_history.push({y: warn_point, id: 'warn'});
            push1["data"] = data.history;
            var push2 = {};
            push2["name"] = "预测数据";
            push2["data"] = data.predict;
            var push3 = {};
            push3["name"] = "diff";
            push3["data"] = data.diff;
            result.push(push2);
            result.push(push1);
            result.push(push3);
            console.log("resultData=" + result);
            console.log("技术成果=" + data.技术成果);

            var max = data.技术成果[0]
            var maxIndex = 0
            for(var i = 0; i < data.技术成果.length -1; i++){
                maxIndex = max < data.技术成果[i+1] ? i+1 : maxIndex
                max = max < data.技术成果[i+1] ? data.技术成果[i+1] : max
            }

            var serialChart = Highcharts.chart('predict_div', {
                title: {
                    text: country + field + '技术成熟度分析图'
                },
                subtitle: {
                    text: ''
                },
                colors: ['rgba(1,45,101,0.74)', '#c70831', 'rgba(0,201,66,0.97)','rgba(0,171,201,0.97)'],
                yAxis: [{
                    title: {
                        // text: '技术成熟度',
                        enabled: false
                    },
                    labels:{
                        enabled: false
                    },
                },{
                    title: {
                        text: '论文增长量',
                        style:{
                        },
                    },
                    labels:{
                        style:{
                        },
                    },
                },{
                    title: {
                        text: '技术成果',
                        style:{
                        },

                    },
                    labels:{
                        style:{
                        },
                    },
                    opposite:true
                },],
                //x轴分四个阶段用不同背景颜色表示
                xAxis: [{
                    labels:{
                        rotation: -30
                    },
                    tickPositions: [1960,1970,1980,1990,2000,2010,2020,2030,2040,2050,2060,(1958 + data.发展期),(1958 + data.成熟期)],
                    plotBands: [
                        { //彩色带横跨绘图区，标志着轴间隔。
                            color: 'rgba(201,236,206,0.88)',
                            from: 1958,
                            to: 1958 + data.萌芽期,
                            label:{
                                text: '萌芽期'
                            },
                            zIndex: 1
                        },
                        { //彩色带横跨绘图区，标志着轴间隔。
                            color: 'rgb(238,245,197)',
                            from: 1958 + data.萌芽期,
                            to: 1958 + data.发展期,
                            label:{
                                text: '发展期'
                            },
                            zIndex: 1
                        },
                        { //彩色带横跨绘图区，标志着轴间隔。
                            color: 'rgba(253,137,137,0.83)',
                            from: 1958 + data.发展期,
                            to: 1958 + data.成熟期,
                            label:{
                                text: '成熟期'
                            },
                            zIndex: 1
                        },
                        { //彩色带横跨绘图区，标志着轴间隔。
                            color: 'rgba(253,137,137,0.83)',
                            from: 1958 + data.发展期,
                            to: 1958 + data.成熟期,
                            label:{
                                text: '(突袭期)',
                                y:35,

                            },
                            zIndex: 1
                        },
                        { //彩色带横跨绘图区，标志着轴间隔。
                            color: 'rgba(219,198,236,0.82)',
                            from: 1958 + data.成熟期,
                            to: 3000,
                            label:{
                                text: '衰退期'
                            },
                            zIndex: 0
                        },
                    ],
                    // 突袭期起点和终点两条标线
                    // plotLines:[{
                    //     color:'#ff0000',
                    //     dashStyle:'dash',
                    //     value: 1958 + data.发展期,
                    //     width:6,
                    //     zIdenx: 99999
                    //
                    // },{
                    //     color:'#ff0000',
                    //     dashStyle:'dash',
                    //     value: 1958 + data.成熟期,
                    //     width:6,
                    //     zIdenx: 99999
                    //
                    // }],
                },],
                plotOptions: {
                    series: {
                        label: false,
                        pointStart: 1958
                    }
                },
                series:[{
                    type:'scatter',
                    name: '技术发展',
                    data: data_history,
                    zIndex: 6,
                    marker:{
                        enable: true,
                        radius: 2,
                    }
                },{
                    name: '技术生命周期',
                    data: data.predict,
                    zIndex: 6,

                },{
                    name: '论文增长量',
                    data: data.diff,
                    zIndex: 5,
                    yAxis: 1
                },{
                    name: '技术成果',
                    data: data.技术成果,
                    type: 'column',
                    yAxis: 2,
                    zIndex: 0,
                    marker:{
                        enabled: true,
                        symbol: 'square'
                    }
                },
                    //     {
                    //     name: '预警点',
                    //     data: [{x: 1958 + data_history.length - 1, y: warn_point}],
                    //     showInLegend: false,
                    //     marker: {
                    //         symbol: 'circle',
                    //         radius:5
                    //     }
                    // },
                ],
                legend: {
                    // layout: 'horizontal',
                    // align: 'center',
                    // verticalAlign: 'bottom'
                    layout: 'vertical',
                    align: 'left',
                    x: 85,
                    verticalAlign: 'top',
                    y: 55,
                    floating: true,
                    symbolHeight:8,
                    symbolWidth: 16,
                    symbolRadius: 0,
                },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {

                        }
                    }]
                },
                // 标注
                annotations: [{
                    labelOptions: {
                        backgroundColor: 'rgba(255,255,255,0.5)',
                        verticalAlign: 'top',
                        y: 20,
                        x: -100
                    },
                    labels: [{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: data.predict.length - 1 + 1958,
                            y: data.predict[data.predict.length - 1],
                        },
                        text: (data.predict.length - 1 + 1958) + '年<br>' + '论文累积量:' + parseInt(data.predict[data.predict.length - 1]),
                    }],
                },{
                    labelOptions: {
                        backgroundColor: 'rgba(255,255,255,0.5)',
                        verticalAlign: 'top',
                        y: 5,
                        x: -90
                    },
                    labels: [{
                        staggerLines: 3,
                        point: {
                            xAxis: 0,
                            yAxis: 2,
                            x: maxIndex + 1958,
                            y: data.技术成果[maxIndex],
                        },
                        text: (maxIndex + 1958) + '年<br>' + '技术成果:' + data.技术成果[maxIndex],
                    }],
                }],
            });
        }

        //趋势预测
        function printPredictLabel2(data) {

            var country = $("#country").val().toString().replaceAll(",", "、")
            var field = $("#firstScope").val().toString()

            // 准备数据
            var result= [];
            var greens = [];
            var blues = [];
            var red1 = {};
            red1["name"] = "历史统计值";
            red1["data"] = data.red1;
            red1["color"] = "#FF0000";
            red1["marker"] = {radius: 2}
            //red1["symbol"] = "circle";
            // serialChart2.addSeries(red1)
            for(var i=1;i<6;i++) {
                var blue = {};
                blue["name"] = "未来预测值";
                var num = eval('data.blue'+i);
                console.log(num);
                blue["data"] = num;
                blue["color"] = "#005eff";
                var type = {radius: 2};
                type["symbol"] = "circle";
                blue["marker"] = type;
                var zone = [];
                var tmp = {};
                tmp["value"] = 2024;
                tmp["dashStyle"] = 'ShortDot';
                zone.push(tmp);
                blue["zones"] = zone;
                if(i != 1){
                    blue["showInLegend"] = false;
                }
                blues.push(blue);
                result.push(blue);
                // serialChart2.addSeries(blue);
            }

            for(var i=1;i<9;i++) {
                var green = {};
                green["name"] = "历史预测值";
                var num = eval('data.green'+i);
                console.log(num);
                green["data"] = num;
                green["color"] = "#00ff22";
                //green["symbol"] = "circle";
                var zone = [];
                var tmp = {};
                tmp["value"] = 2024;
                tmp["dashStyle"] = 'ShortDot';
                var type = {radius: 2};
                type["symbol"] = "diamond";
                green["marker"] = type;
                zone.push(tmp);
                green["zones"] = zone;
                greens.push(green)
                result.push(green);
                if(i != 1){
                    green["showInLegend"] = false;
                }
                // serialChart2.addSeries(green);
            }

            var greenAll = {}
            greenAll["name"] = "预测趋势曲线"
            var blue5 = data.blue5.slice(data.blue5.length - 5, data.blue5.length)
            greenAll["data"] = data.green_all.concat(blue5)
            greenAll["color"] = "#ff8c00"
            greenAll["animation"] = {
                duration: 5000
            }
            var zone = [];
            var tmp = {};
            tmp["value"] = 2024;
            zone.push(tmp);
            greenAll["zones"] = zone;
            var serialChart2 = Highcharts.chart('predict_div2', {
                chart:{
                    animation:false
                },
                title: {
                    text: country + field + '领域发展趋势预测图'
                },
                colors: [ '#c70831', 'rgba(0,201,66,0.97)','rgba(0,171,201,0.97)',
                    'rgba(214,229,6,0.97)','rgba(118,57,220,0.97)','rgba(198,105,35,0.97)'],
                subtitle: {
                    text: ''
                },
                xAxis:{
                    tickInterval: 1,
                },
                yAxis: {
                    title: {
                        text: '科技研发实力'
                    }
                },
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                plotOptions: {
                    series: {
                        label: false,
                        pointStart: 2000,
                        animation: {
                            duration: 3000
                        }
                    }
                },
                series:[red1].concat(greens, blues , greenAll) ,
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });


            console.log(serialChart2.series)
            setTimeout(function () {
                for(var i = 1; i < 14; i++){
                    serialChart2.series[1].remove()
                }
            }, 5000)


            result.push(red1);
            console.log("resultData=" + result);
        }
    });
</script>
</div>
</body>

</html>