<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>趋势预测</title>
    <link href="../predict/css/bootstrap.min.css" rel="stylesheet">
    <link href="../predict/css/base.css" rel="stylesheet">
    <link href="../predict/css/style.css" rel="stylesheet">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">

</head>

<body style="background-color: inherit;color: #0f0f0f">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div style="display: block;width:100%">
<!-- 顶部导航 -->
    <div id="page-wrapper" class="gray-bg dashboard"  style="padding-bottom:40px;margin-left: 10px">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">首页</a></li>
                    <li><i class="fa fa-laptop"></i>趋势预测</li>
                </ol>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-sm-12">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>XXX领域投入资金总览</h5>
                        <small class="pull-right"><i>数据截止至：2020-07-13 09:21:54</i></small> </div>
                    <div class="box-content">
                        <div class="row text-center" id="splashSummary">
                            <div class="col-sm-3">
                                <h1 class="num">7,891,968,091.60</h1>
                                <small>撮合贷款额 (元)</small> </div>
                            <div class="col-sm-3">
                                <h1 class="num">5,084,064,689.59</h1>
                                <small>已还本金（元）</small> </div>
                            <div class="col-sm-3">
                                <h1 class="num">368,597,831.15</h1>
                                <small>累计预期收益（元）</small> </div>
                            <div class="col-sm-3">
                                <h1 class="num">222,073,973.65</h1>
                                <small>已发放收益（元）</small> </div>
                        </div>
                        <hr />
                        <div class="row m-t">
                            <div class="col-sm-12 invest-month-report">
                                <!-- <div class="echart-chart">
                                                            <div class="echart-chart-content" id="summary"></div>
                                                        </div> -->

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#" id="xmzt_a">项目直投</a></li>
                                    <li role="presentation"><a href="#" id="zqzr_a">债权转让</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div id="xmzt">
                                        <div class="container-fluid">
                                            <canvas id="xiangmuzhitou" class="col-lg-12 xiangmuzhitou_height"></canvas>
                                        </div>
                                    </div>
                                    <div id="zqzr">
                                        <div class="container-fluid">
                                            <canvas id="zhaiquanzhuanrang" class="col-lg-12 xiangmuzhitou_height"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>XX领域未来投入资金预测</h5>
                        <small class="pull-right"><i>数据截止至：2020-07-01 00:00:00</i></small> </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <h3>XX领域投入资金数据</h3>
                                <small>自 2019 年 8 月 7 日以来投资无盈利</small>
                                <ul class="list-group clear-list m-t-md m-b-none">
                                    <li class="list-group-item fist-item"> 对投资逾期金额 <span class="pull-right num"> 0.00 </span> </li>
                                    <li class="list-group-item"> 对投资逾期比例 <span class="pull-right num"> 0.00 % </span> </li>
                                    <li class="list-group-item"> 投资损失金额 <span class="pull-right num"> 0.00 </span> </li>
                                    <li class="list-group-item"> 本金损失比例 <span class="pull-right num"> 0.00 % </span> </li>
                                    <li class="list-group-item"> 合作渠道代偿金额 <span class="pull-right num"> 42,393,865.88 </span> </li>
                                    <li class="list-group-item"> 项目展期 <span class="pull-right num"> 0.00 </span> </li>
                                </ul>
                            </div>
                            <div class="col-sm-9">
                                <h3 class="m-b-lg">网络攻防领域中东未来投入分布预测</h3>
                                <div class="echart-chart">
                                    <canvas id="pingtaibaozhengjinbianhua" class="col-lg-12 pingtaibaozhengjinbianhua_height"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12 map">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>人工智能领域美国未来投入分布预测</h5>
                        <small class="pull-right"><i>预测时间：2020-07-01 00:00:00</i></small> </div>
                    <div class="box-content" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="MapSwitch">
                            <li role="presentation" class="active"><a href="#FinancingAmount" aria-controls="FinancingAmount" role="tab" data-toggle="tab">融资金额</a></li>
                            <!-- <li role="presentation"><a href="#Financy" aria-controls="Financy" role="tab" data-toggle="tab">融资主体</a></li> -->
                            <li role="presentation"><a href="#InvestAmount" aria-controls="InvestAmount" role="tab" data-toggle="tab">投资金额</a></li>
                            <!-- <li role="presentation"><a href="#Investor" aria-controls="Investor" role="tab" data-toggle="tab">投资人</a></li> -->
                            <li role="presentation"><a href="#Transfer" aria-controls="Transfer" role="tab" data-toggle="tab">资金迁移</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" id="Map">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <table class="table table-hover m-t-lg">
                                            <thead>
                                            <tr>
                                                <th colspan="3">Top 10</th>
                                            </tr>
                                            </thead>
                                            <tbody class="topTen">
                                            <tr>
                                                <td colspan="3">中国 10</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">美国 9</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">德国 8</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">法国 7</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">意大利 6</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">日本 5</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">俄罗斯 4</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">澳大利亚 3</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">加拿大 2</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">韩国 1</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-9">
                                        <h3 class="m-b-lg">人工智能领域各国投入渠道占比预测</h3>
                                        <div class="echart-chart">
                                            <canvas id="baozhangfangshifenbu" class="col-lg-8 xiangmuzhitou_height"></canvas>
                                            <div>
                                                <ul class="list-unstyled">
                                                    <li><a href="#">非国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_4FC1E9"></span></li>
                                                    <li><a href="#">企业担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F89135"></span></li>
                                                    <li><a href="#">国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F8585B"></span></li>
                                                    <li><a href="#">穹顶计划</a>&nbsp;<span class="glyphicon glyphicon-minus color_FFDC89"></span></li>
                                                    <li><a href="#">信用保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_66CC66"></span></li>
                                                    <li><a href="#">其他保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_596373"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row" style="display: none;">
            <div class="col-lg-3 col-sm-6">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>保障方式分布</h5>
                    </div>
                    <div class="box-content">
                        <div class="echart-chart">
                            <canvas id="baozhangfangshifenbu" class="col-lg-8 xiangmuzhitou_height"></canvas>
                            <div class="text-right">
                                <ul class="list-unstyled">
                                    <li><a href="#">非国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_4FC1E9"></span></li>
                                    <li><a href="#">企业担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F89135"></span></li>
                                    <li><a href="#">国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F8585B"></span></li>
                                    <li><a href="#">穹顶计划</a>&nbsp;<span class="glyphicon glyphicon-minus color_FFDC89"></span></li>
                                    <li><a href="#">信用保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_66CC66"></span></li>
                                    <li><a href="#">其他保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_596373"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="display: none;">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>融资期限分布</h5>
                    </div>
                    <div class="box-content">
                        <div class="echart-chart">
                            <canvas id="rongziqixianfenbu" class="col-lg-8 xiangmuzhitou_height"></canvas>
                            <div class="text-right">
                                <ul class="list-unstyled">
                                    <li><a href="#">非国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_4FC1E9"></span></li>
                                    <li><a href="#">企业担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F89135"></span></li>
                                    <li><a href="#">国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F8585B"></span></li>
                                    <li><a href="#">穹顶计划</a>&nbsp;<span class="glyphicon glyphicon-minus color_FFDC89"></span></li>
                                    <li><a href="#">信用保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_66CC66"></span></li>
                                    <li><a href="#">其他保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_596373"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="display: none;">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>产品类型分布</h5>
                    </div>
                    <div class="box-content">
                        <div class="echart-chart">
                            <canvas id="chanpinleixingfenbu" class="col-lg-8 xiangmuzhitou_height"></canvas>
                            <div class="text-right">
                                <ul class="list-unstyled">
                                    <li><a href="#">非国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_4FC1E9"></span></li>
                                    <li><a href="#">企业担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F89135"></span></li>
                                    <li><a href="#">国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F8585B"></span></li>
                                    <li><a href="#">穹顶计划</a>&nbsp;<span class="glyphicon glyphicon-minus color_FFDC89"></span></li>
                                    <li><a href="#">信用保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_66CC66"></span></li>
                                    <li><a href="#">其他保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_596373"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="display: none;">
                <div class="box float-e-margins">
                    <div class="box-title">
                        <h5>融资主体行业分布</h5>
                    </div>
                    <div class="box-content">
                        <div class="echart-chart">
                            <canvas id="rongzizhutihangyefenbu" class="col-lg-8 xiangmuzhitou_height"></canvas>
                            <div class="text-right">
                                <ul class="list-unstyled">
                                    <li><a href="#">非国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_4FC1E9"></span></li>
                                    <li><a href="#">企业担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F89135"></span></li>
                                    <li><a href="#">国有担保</a>&nbsp;<span class="glyphicon glyphicon-minus color_F8585B"></span></li>
                                    <li><a href="#">穹顶计划</a>&nbsp;<span class="glyphicon glyphicon-minus color_FFDC89"></span></li>
                                    <li><a href="#">信用保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_66CC66"></span></li>
                                    <li><a href="#">其他保障</a>&nbsp;<span class="glyphicon glyphicon-minus color_596373"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        </div>

</div>

<!-- Js -->
<script src="../predict/js/jquery-1.8.0.min.js"></script>
<script src="../predict/js/bootstrap.min.js"></script>
<script src="../predict/js/setting.js"></script>
<script src="../predict/js/Chart.min.js"></script>
<script src="../predict/js/echarts-all.js"></script>
</body>
</html>
