<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--layout:decorator="layui/result">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>短文本摘要</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap/ui-elements/card.css">
    <link rel="stylesheet" href="../css/bootstrap/style.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-table.min.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="../js/bootstrap/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/bootstrap/bootstrap-table.min.js"></script>
    <!--有道智云API所需JS文件-->
    <script src="http://shared.ydstatic.com/js/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="https://cdn.bootcss.com/js-sha256/0.9.0/sha256.js"></script>
    <!--下面不用改-->
    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>
    <style>
        .panel-heading{
            display: flex;
        }
        .panel-heading address{
            margin:0;
            position:absolute;
            right: 5%;
        }

    </style>
</head>
<body>

    <div th:insert="~{/JS_Common::topbar}"></div>
    <div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div style="display: block;width:100%" >
        <blockquote class="layui-elem-quote layui-text">
            <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;">
                <li><a href="JS_Index">首页</a></li>
                <li><a href="JS_TextSum">信息生成</a></li>
                <li class="active">简报生成</li>
            </ol>
        </blockquote>
        <!--<h1 style="text-align: center;color: #3385e1">短文本摘要</h1>-->
        <div class="container" style="height:800px;width:80%;color: black"  id="container">
            <div class="col-md-12">

                <h1 class="text-center">“韩国政府研发预算中长期投资战略”</h1>
                <h3 class="text-right" style="margin-right: 200px">军事科技简报 </h3>
                <!--简要信息-->
                <div class="col-md-12">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>简报类别:</td>
                                <td>娱乐选秀</td>
                            </tr>
                            <tr>
                                <td>产出机构:</td>
                                <td>创造营2020</td>
                            </tr>
                            <tr>
                                <td>提交机构:</td>
                                <td>创造营2020</td>
                            </tr>
                            <tr>
                                <td>产出日期:</td>
                                <td>2020.06.01</td>
                            </tr>
                            <tr>
                                <td>发布日期:</td>
                                <td>2020.06.01</td>
                            </tr>
                            <tr>
                                <td>作者:</td>
                                <td>吴亦凡</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <!--主体部分-->
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: flex">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse1">
                                        摘要
                                    </a>
                                </h4>
                                <address  style="margin:0;position:absolute;right: 5%;">
                                    <a  href="#">查看更多</a>
                                </address>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Sided Template has 3 HTML pages. <a href="index.html">Index</a>, <a href="page-2.html">Page 2</a> and <a href="page-3.html">Page 3</a>.
                                    This is Bootstrap v4.2.1 layout. You may visit></a> for latest updates. Thank you.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" >
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse2">
                                        实体识别
                                    </a>
                                </h4>
                                <address  >
                                    <a  href="#">查看更多</a>
                                </address>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Suspendisse ultricies scelerisque tellus, id sollicitudin
                                    magna aliquet porttitor. Orci varius natoque penatibus et
                                    magnis dis parturient montes, nascetur ridiculus mus. Quisque
                                    pharetra mauris in libero.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse4">
                                        关系抽取
                                    </a>
                                </h4>
                                <address  >
                                    <a  href="#">查看更多</a>
                                </address>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse5">
                                        实力对比
                                    </a>
                                </h4>
                                <address  style="margin:0;position:absolute;right: 5%;">
                                    <a  href="#">查看更多</a>
                                </address>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse7">
                                        趋势预测
                                    </a>
                                </h4>
                                <address  style="margin:0;position:absolute;right: 5%;">
                                    <a  href="#">查看更多</a>
                                </address>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


        </div>
    </div>

</div>
<!--右键菜单定义-->
<div id="popupRC" style="display:none;" class="panel panel-primary  ">
    <div class="panel-heading" style="background-color: #F1F1F1;">
        <a href="javascript:txt2img(getSelectionText())">多模态检索图片</a>
    </div>
    <div class="panel-body" id="showImg">
        <!-- <div class="form-group">
            <label class="control-label col-md-2">Color</label>

            <input type="color" class="form-control" id="idcolorr" />
        </div> -->
    </div>
    <div class="panel-footer"><input type="button"  class="btn btn-danger" value="关闭" onClick="closeMenu()" /></div>
</div>

</body>
</html>