<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--加载等待样式-->
    <link rel="stylesheet" type="text/css" href="./css/report_upload/loadingbutton.css">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>

    <link rel='stylesheet' href='./css/common/modalBox.css'>

    <style type="text/css">
        .roleCodes {
            color: #7e5bbe;
        }
    </style>

</head>

<body style="background-color: inherit">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div class="box">
        <div class="title">请选择对应的文章生成简报</div>
        <div id="greyblock"
             style="position: absolute;width: 100%;height: 100%;opacity: 0.5;background-color: grey;z-index: 99999"></div>
        <div class="content">
            <!--搜索输入框及查询、重置按钮-->
            <div class="container content_width" style="height: auto;width: 1268px">
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>关键词：</label>
                            <!--指定 date标记-->
                            <div class='input-group'>
                                <input id="keywords" style="width: 290px" type='text' class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>数据范围</label>
                            <select id="random" class="form-control select_down"
                                    style="font-size: 13px; color: #666;width: 290px">
                                <option>100%</option>
                                <option>80%</option>
                                <option>60%</option>
                                <option>40%</option>
                                <option>20%</option>
                            </select>
                        </div>
                    </div>

                    <div class="search_input">
                        <button class="btn btn-primary search_btn" type="button" id="search_btn">文章查询</button>
                        <button class="btn btn-primary search_btn" style="margin-left: 20px" type="button"
                                id="report_btn">生成简报
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>开始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" style="z-index: 10000"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>国家:</label>
                            <select id="country" class="form-control select_down selectpicker" multiple
                                    data-live-search="true" title="请选择国家">
                                <option>中国</option>
                                <option>美国</option>
                                <option>英国</option>
                                <option>法国</option>
                                <option>俄罗斯</option>
                                <option>德国</option>
                                <option>印度</option>
                                <option>加拿大</option>
                                <option>澳大利亚</option>
                                <option>韩国</option>
                                <option>瑞士</option>
                                <option>以色列</option>
                                <option>爱尔兰</option>
                                <option>瑞典</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>领域</label>
                            <select id="firstScope" class="form-control select_down"
                                    style="font-size: 13px; color: #666;">
                                <option>海军</option>
                                <option>陆军</option>
                                <option>空军</option>
                                <option>人工智能</option>
                                <option>网络攻防</option>
                            </select>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>范围</label>
                            <select id="secondScope" class="form-control select_down"
                                    style="font-size: 13px; color: #666;">
                                <option>人工智能</option>
                                <option>计算机</option>
                                <option>电子</option>
                                <option>生物</option>
                                <option>自动化</option>
                                <option>化学</option>
                                <option>通信</option>
                                <option>物理</option>
                                <option>航天</option>
                                <option>能源</option>
                                <option>制造</option>
                                <option>材料</option>
                                <option>环境</option>
                            </select>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>来源</label>
                            <select id="publisher" class="form-control select_down"
                                    style="font-size: 13px; color: #666;">
                                <option>论文</option>
                                <option>新闻</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <!--加载等待框-->
            <div id="loading" style="display: inline-flex;margin-left: 40%;margin-top: 25px">
                <div style="font-size: 20px;">正在加载中</div>
                <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                </div>
            </div>
             <div class="line"></div>
           </div>
        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th style="width: 50px"><input id="checkAll" type="checkbox" onclick="setAllNo()" /></th>
                <th style="width: 100px">编号</th>
                <th style="width: 466px">文章名称</th>
                <th style="width: 180px">日期</th>
                <th style="width: 180px">国家</th>
                <th style="width: 280px">操作</th>
            </tr>
            </thead>
            <tbody id="show_tbody">

            </tbody>
        </table>

        <!-- 模态框 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id="mhead">头部</h2>
                    <span id="closeBtn" class="close">×</span>
                </div>
                <div id="mcontent" class="modal-body">
                    <p>这是一个模态框！</p>
                    <p>喜欢就点个赞吧！</p>
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>


</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</div>
<script>

    $(function () {
       /* $("#testdiv ul").on("click","li", function() {
            alert("hello");
            var text = $(this).parents("tr").find(".roleCodes").val();
            alert(text);
        });*/

        $('#loading').hide()
        $('#greyblock').hide()

        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });

    //时间戳转换
    function createTime(v){
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        m = m<10?'0'+m:m;

        var d = date.getDate();
        d = d<10?("0"+d):d;
        var str = y+m+d;
        return str;
    }

    //全选函数
    function setAll() {
        alert("hello");
        var loves = document.getElementsByName("love");
        for (var i = 0; i < loves.length; i++) {
            loves[i].checked = true;
        }
    }

    //全选/全不选操作
    function setAllNo(){
        var box = document.getElementById("checkAll");
        var loves = document.getElementsByName("love");
        if(box.checked == false){
            for (var i = 0; i < loves.length; i++) {
                loves[i].checked = false;
            }
        }else{
            for (var i = 0; i < loves.length; i++) {
                loves[i].checked = true;
            }
        }
    }
    var text_data = [];
    $("#report_btn").click(function () {

        $('#loading').hide();
        $('#greyblock').hide();
        var checks = document.getElementsByName("love");
        var contents = document.getElementsByName("content");
        for(var i = 0; i< checks.length; i++){
            var checkbox = checks[i];
            var content = contents[i];
            if(checkbox.checked){
                text_data.push(content.innerHTML);
                text_data.push("###");
            }else{
                // do something
            }
        }
        var start = createTime($("#datetimepicker1").find("input").val());
        var end = createTime($("#datetimepicker2").find("input").val());
        var firstScope = $('#firstScope option:selected').text();//文本
        var secondScope = $('#secondScope option:selected').text();//文本
        var publisher = $('#publisher option:selected').text();//文本
        var random = $('#random option:selected').text();//文本
        var country = $('#country').val();//文本
        localStorage.setItem("start",start);//key要用单引号或者双引号包括着，value就是你要存的数据
        localStorage.setItem("end",end);
        localStorage.setItem("country",country);
        localStorage.setItem("firstScope",firstScope);
        localStorage.setItem("secondScope",secondScope);
        localStorage.setItem("source",publisher);
        localStorage.setItem("random",random);
        localStorage.setItem("text_data",text_data);
        window.location.href="/JS_ReportItem";
    });

    $("#search_btn").click(function () {

        $('#loading').show();
        //$('#greyblock').show()
        var start = createTime($("#datetimepicker1").find("input").val());
        var end = createTime($("#datetimepicker2").find("input").val());
        var firstScope = $('#firstScope option:selected').text();//文本
        var secondScope = $('#secondScope option:selected').text();//文本
        var publisher = $('#publisher option:selected').text();//文本
        var country = $('#country').val();//文本
        var keywords = $('#keywords').val();//文本
        var report = {
            "start": start,
            "end": end,
            "firstScope": firstScope,
            "secondScope":secondScope,
            "publisher":publisher,
            "country":country.toString(),
            "keywords":keywords,
        }
        localStorage.setItem("start",start);//key要用单引号或者双引号包括着，value就是你要存的数据
        localStorage.setItem("end",end);
        localStorage.setItem("country",country);
        localStorage.setItem("firstScope",firstScope);
        localStorage.setItem("secondScope",secondScope);
        localStorage.setItem("source",publisher);

        /*var url ="/JS_ArticleShow" + '?start=' + start+ '&'+'end=' + end+'&'+'firstScope=' + firstScope+ '&'+'secondScope=' + secondScope+ '&'+'publisher=' + publisher ;
        alert(JSON.stringify(json));
        window.location.href ="/JS_ArticleShow?para="+ JSON.stringify(json);//编码传值*/
        $.ajax({
            url: "/JS_ArticleShow",
            type: "POST",
            data: report,
            success: function (data) {
                var jsonb = eval(data);
                var info5 = "";
                $("#show_tbody").html("");
                $.each(jsonb, function (index, item) {
                    $.each(item['resultlist'], function (y, e) {
                        var json = eval(e);
                        info5 +="<tr >\n" +
                            "                        <td><input id=\"check\" name=\"love\" type=\"checkbox\" /></td>"+
                            "                        <td>"+json.id+"</td>\n" +
                            "                        <td class=\"roleCodes\">"+json.name+"</td>\n" +
                            "                        <td>"+json.date+"</td>\n" +
                            "                        <td>"+json.country+"</td>\n" +
                            "                        <td id=\"content\" name=\"content\" style=\"display:none\">"+json.content+"</td>\n" +
                            "                        <td>\n" +
                            "                        <button class=\"btn btn-success btn-sm\" id=\"triggerBtn\">查看</button>\n" +
                            "                        <button class=\"btn btn-primary btn-sm\" id=\"edit\">添加</button>\n" +
                            "                        <button class=\"btn btn-danger btn-sm\" id=\"del\">删除</button>\n" +
                            "                        </td>\n" +
                            "                        </tr>"
                    });
                });
                $('#loading').hide();
                $("#show_tbody").html(info5);
                window.onload = (function() {
                    /*建立模态框对象*/
                    var modalBox = {};
                    /*获取模态框*/
                    modalBox.modal = document.getElementById("myModal");
                    /*获得trigger按钮*/
                    modalBox.triggerBtn = document.getElementById("triggerBtn");
                    /*获得关闭按钮*/
                    modalBox.closeBtn = document.getElementById("closeBtn");
                    /*模态框显示*/
                    modalBox.show = function(text,title) {
                        console.log(this.modal);
                        this.modal.style.display = "block";
                        $("#mhead").html(title);
                        //alert("添加成功");
                        $("#mcontent").html(text);

                    }
                    /*模态框关闭*/
                    modalBox.close = function() {
                        this.modal.style.display = "none";
                    }
                    /*当用户点击模态框内容之外的区域，模态框也会关闭*/
                    modalBox.outsideClick = function() {
                        var modal = this.modal;
                        window.onclick = function(event) {
                            if(event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    }
                    /*模态框初始化*/
                    modalBox.init = function() {
                        var that = this;
                        $("#show_tbody").on('click',"button[id='triggerBtn']" ,function() {
                            var text = $(this).parents("tr").find("#content").text();
                            var title = $(this).parents("tr").find(".roleCodes").text();
                            that.show(text,title);
                        })
                        this.closeBtn.onclick = function() {
                            that.close();
                        }
                        this.outsideClick();
                    }
                    modalBox.init();

                })();
            },
            error: function () {
                alert("请求失败");
            },
        })

        /*$.ajax({
            url: "http://127.0.0.1:8888/search",
            method: 'POST',
            dataType: 'jsonp',
            jsonp: "callback",
            jsonpCallback: "successCallback",//回调方法
            contentType: 'application/json',
            data: {
                'search_word': $("#keyword").val(),
            },
            success: function (data) {
                var info5 = "";
                $("#show_tbody").html("");
                var index = 0;
                console.log("json对象："+data.new_list);
                $.each(data.new_list, function (y, e) {
                        var json = e;
                        index++;
                        info5 +="<tr >\n" +
                            "<td><input id=\"check\" type=\"checkbox\" /></td>"+
                            "                        <td>"+ index +"</td>\n" +
                            "                        <td class=\"roleCodes\">"+json.title+"</td>\n" +
                            "                        <td>"+json.content.substring(0,40)+"</td>\n" +
                            "                        <td>"+json.content.length+"</td>\n" +
                            "                        <td id=\"content\" style=\"display:none\">"+json.content+"</td>\n" +
                            "                        <td>\n" +
                            "                        <button class=\"btn btn-primary btn-sm\" id=\"edit\">添加</button>\n" +
                            "                        <button class=\"btn btn-danger btn-sm\" id=\"del\">删除</button>\n" +
                            "                        </td>\n" +
                            "                        </tr>"
                });

                $("#show_tbody").html(info5);
                $('#loading').hide();
            },
            error: function () {
                alert("请求失败");
            },
        })
        */
    });

    $("#show_tbody").on('click',"button[id='edit']" ,function() {
        var text = $(this).parents("tr").find("#content").text();
        alert("添加成功");
        text_data.push(text);
        text_data.push("###");
    });
</script>
</div>
</body>

</html>