<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="./css/report/all.min.css" />
    <link rel="stylesheet" href="./css/report/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/report/templatemo-style.css" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="./css/weapon/style.css">

    <title>科技简报</title>
    <style>
        .marginleft{
            margin-left: 15px;
        }

    </style>
</head>
<!--
Sided Template
https://templatemo.com/tm-527-sided
-->
<body>
<div class="columns-bg">
    <!-- Logo & Intro -->
    <section id="logo" class="tm-section-logo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="">
                            <h1 class="text-uppercase tm-text-primary tm-site-name" style="color: #3ea2ee">
                                “美国人工智能领域发展现状分析”
                            </h1>
                            <p class="tm-text-primary tm-site-description" style="color: #3ea2ee;margin-left:1000px">
                                军事科技简报
                            </p>

                        </div>
                    </div>
                </div>
                <div class="tm-section-text-container-3tm-bg-gray h-100" style="padding-top: 20px;margin-left: 40px">
                    <ul class="info">
                        <li><span class="first-block">范围:</span><span class="second-block"><a> 人工智能</a></span></li>
                        <li><span class="first-block">领域:</span><span class="second-block"><a >计算机</a></span></li>
                        <li><span class="first-block">来源:</span><span class="second-block"><a >论文专利</a></span></li>
                        <li><span class="first-block">国家:</span><span class="second-block"><a >美国</a></span></li>
                        <li><span class="first-block">开始日期:</span><span class="second-block"><a >2012.06.01</a></span></li>
                        <li><span class="first-block">结束日期:</span><span class="second-block"><a> 2020.06.01</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 1 -->
    <section id="section_1" class="tm-section-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pl-lg-0">
                    <div class="tm-section-text-container-3  h-100">
                        <h2 class="tm-section-title-mb">摘要</h2>
                       <!-- <hr class="tm-hr-mb" />-->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section id="section_2" class="tm-section-4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 pl-lg-0">
                    <div class="tm-section-text-container-3  h-100">
                        <h2 class="tm-section-title-mb">实体识别</h2>
                        <!--<hr class="tm-hr-mb" />-->
                        <!--<p class="tm-p-mb">
                            Suspendisse ultricies scelerisque tellus, id sollicitudin
                            magna aliquet porttitor. Orci varius natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Quisque
                            pharetra mauris in libero.
                        </p>
                        <div class="text-right">
                            <a href="#section_3" class="btn btn-primary">查看更多</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section id="section_3" class="tm-section-4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 pl-lg-0">
                    <div class="tm-section-text-container-3  h-100">
                        <h2 class="tm-section-title-mb">关系抽取</h2>
                        <!--<hr class="tm-hr-mb" />-->
                        <!--<p class="tm-p-mb">
                            Suspendisse ultricies scelerisque tellus, id sollicitudin
                            magna aliquet porttitor. Orci varius natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Quisque
                            pharetra mauris in libero.
                        </p>
                        <div class="text-right">
                            <a href="#section_3" class="btn btn-primary">查看更多</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section id="section_4" class="tm-section-4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 pl-lg-0">
                    <div class="tm-section-text-container-3  h-100">
                        <h2 class="tm-section-title-mb">实力对比</h2>
                       <!-- <hr class="tm-hr-mb" />
                        <p class="tm-p-mb">
                            Suspendisse ultricies scelerisque tellus, id sollicitudin
                            magna aliquet porttitor. Orci varius natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Quisque
                            pharetra mauris in libero.
                        </p>
                        <div class="text-right">
                            <a href="#section_3" class="btn btn-primary">查看更多</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section id="section_6" class="tm-section-4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 pl-lg-0">
                    <div class="tm-section-text-container-3  h-100">
                        <h2 class="tm-section-title-mb">趋势预测</h2>
                        <!--<hr class="tm-hr-mb" />-->
                       <!-- <p class="tm-p-mb">
                            Orci varius natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Quisque pharetra mauris in libero
                            varius tristique. Duis eget eleifend risus. Curabitur
                            hendrerit, elit et efficitur placerat, purus nunc fringilla
                            orci, et condimentum dui sem sed risus. Proin sed fringilla
                            felis. Maecenas vel felis vitae turpis bibendum accumsan.
                            Nulla pretium tortor non vulputate scelerisque.
                        </p>
                        <p class="tm-p-mb">
                            Quisque viverra dui purus, at rutrum nibh suscipit ut. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus
                            ac mauris maximus auctor. Nullam eget dignissim orci. Donec
                            tincidunt blandit libero iaculis fermentum. Aliquam erat
                            volutpat. Integer suscipit aliquam augue ac rutrum. Phasellus
                            sit amet erat id sapien efficitur euismod.
                        </p>
                        <div class="text-right">
                            <a href="#section_3" class="btn btn-primary">查看更多</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Beautiful Rollovers -->
    <section id="gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 tm-section-title-mb " style="margin-left: 15px">
                    <h2 class="" style="margin-left: 15px">详细分析</h2>
                    <hr class="tm-section-title-underline" />
                </div>

                <div class="col-12">
                    <div class="grid">
                        <figure class="effect-duke mb-3">
                            <img
                                    src="./asset/imgs/3.jpg"
                                    alt="Image"
                                    class="img-fluid"
                            />
                            <figcaption>
                                <h2>新领域<span></span></h2>
                                <p>When he looks at the sky, he feels to run.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-duke">
                            <img
                                    src="./asset/imgs/3.jpg"
                                    alt="Image"
                                    class="img-fluid"
                            />
                            <figcaption>
                                <h2>实力对比</span></h2>
                                <p>When he looks at the sky, he feels to run.</p>
                                <a href="page-2.html">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-duke mb-3">
                            <img
                                    src="./asset/imgs/4.jpg"
                                    alt="Image"
                                    class="img-fluid"
                            />
                            <figcaption>
                                <h2>趋势预测<span></span></h2>
                                <p>When he looks at the sky, he feels to run.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-duke">
                            <img
                                    src="./asset/imgs/5.jpg"
                                    alt="Image"
                                    class="img-fluid"
                            />
                            <figcaption>
                                <h2>多模态推荐</span></h2>
                                <p>When he looks at the sky, he feels to run.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="tm-section-text-container-3tm-bg-gray h-100" style="padding-top: 20px;margin-left: 1140px">
        <ul class="info">
            <li><span >产出机构:</span><span ><a >ADE实验室</a></span></li>
            <li><span >提交机构:</span><span ><a >ADE实验室</a></span></li>
            <li><span >产出日期:</span><span ><a >2020.06.01</a></span></li>
            <li><span >发布日期:</span><span ><a >2020.06.01</a></span></li>
            <li><span >作者:</span><span ><a> XXX</a></span></li>
        </ul>
    </div>

    <section id="outro">
        <div class="container-fluid">
            <div class="row">
                <footer class="col-sm-12 col-md-6">
                    <p class="tm-copyright-text mb-0 tm-text-primary">
                        Copyright &copy; 2019 Company Name
                        - Design:HUST
                    </p>
                </footer>
            </div>
        </div>
    </section>
</div>
<!-- /.columns-bg -->
</body>
</html>
