<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>
    <style type="text/css">
        .roleCodes{
            color: #7e5bbe;
        }
    </style>

</head>

<body style="background-color: inherit">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div class="box">
    <div class="title">请选择对应的文章生成简报</div>
    <div class="content" >
        <!--搜索输入框及查询、重置按钮-->
        <div class="container content_width" style="height: auto;width: 1268px">
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>关键词：</label>
                            <!--指定 date标记-->
                            <div class='input-group'>
                                <input id="keyword" style="width: 290px" type='text' class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="search_input" >
                        <button class="btn btn-primary search_btn" type="button" id="search_btn">文章查询</button>
                        <button class="btn btn-primary search_btn" style="margin-left: 20px" type="button" id="report_btn" >生成简报</button>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>开始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" style="z-index: 10000" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker2'>

                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>国家:</label>
                            <select id = "country" class="form-control select_down selectpicker"  multiple data-live-search="true" title="请选择国家">
                                <option>中国</option>
                                <option>美国</option>
                                <option>德国</option>
                                <option>意大利</option>
                                <option>法国</option>
                                <option>中东</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>领域</label>
                             <select id = "firstScope" class="form-control select_down" style="font-size: 13px; color: #666;">
                                <option>海军</option>
                                <option>陆军</option>
                                <option>空军</option>
                                <option>人工智能</option>
                                <option>网络攻防</option>
                            </select>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>范围</label>
                            <select id="secondScope" class="form-control select_down" style="font-size: 13px; color: #666;">
                                <option>人工智能</option>
                                <option>计算机</option>
                                <option>电子</option>
                                <option>生物</option>
                                <option>自动化</option>
                                <option>化学</option>
                                <option>通信</option>
                                <option>物理</option>
                                <option>航天</option>
                                <option>能源</option>
                                <option>制造</option>
                                <option>材料</option>
                                <option>环境</option>
                            </select>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class="form-group">
                            <label>来源</label>
                            <select id="publisher" class="form-control select_down" style="font-size: 13px; color: #666;">
                                <option>网站</option>
                                <option>论文</option>
                                <option>新闻</option>
                                <option>专利</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
             <div class="line"></div>
           </div>
        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th style="width: 50px">编号</th>
                <th style="width: 366px">文章名称</th>
<!--                <th>发表日期</th>
                <th style="width: 100px">所属类别</th>
                <th>来源</th>
                <th style="width: 50px">国家</th>-->
                <th style="width: 566px">详细信息</th>
                <th style="width: 180px">操作</th>
            </tr>
            </thead>
            <tbody id="show_tbody">

            </tbody>
        </table>
    </div>

</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</div>
<script>
    $(function () {
       /* $("#testdiv ul").on("click","li", function() {
            alert("hello");
            var text = $(this).parents("tr").find(".roleCodes").val();
            alert(text);
        });*/

        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });
    //时间戳转换
    function createTime(v){
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        m = m<10?'0'+m:m;

        var d = date.getDate();
        d = d<10?("0"+d):d;
        var str = y+m+d;
        return str;
    }

    $("#report_btn").click(function () {
        var start = createTime($("#datetimepicker1").find("input").val());
        var end = createTime($("#datetimepicker2").find("input").val());
        var firstScope = $('#firstScope option:selected').text();//文本
        var secondScope = $('#secondScope option:selected').text();//文本
        var publisher = $('#publisher option:selected').text();//文本
        var country = $('#country').val();//文本
        localStorage.setItem("start",start);//key要用单引号或者双引号包括着，value就是你要存的数据
        localStorage.setItem("end",end);
        localStorage.setItem("country",country);
        localStorage.setItem("firstScope",firstScope);
        localStorage.setItem("secondScope",secondScope);
        localStorage.setItem("source",publisher);
        localStorage.setItem("text_data",text_data);
        window.location.href="/JS_ReportItem";
    });

    $("#search_btn").click(function () {
        var start = createTime($("#datetimepicker1").find("input").val());
        var end = createTime($("#datetimepicker2").find("input").val());
        var firstScope = $('#firstScope option:selected').text();//文本
        var secondScope = $('#secondScope option:selected').text();//文本
        var publisher = $('#publisher option:selected').text();//文本
        var country = $('#country').val();//文本
        var report = {
            "start": start,
            "end": end,
            "firstScope": firstScope,
            "secondScope":secondScope,
            "publisher":publisher,
            "country":country,
        }
        localStorage.setItem("start",start);//key要用单引号或者双引号包括着，value就是你要存的数据
        localStorage.setItem("end",end);
        localStorage.setItem("country",country);
        localStorage.setItem("firstScope",firstScope);
        localStorage.setItem("secondScope",secondScope);
        localStorage.setItem("source",publisher);

        /*var url ="/JS_ArticleShow" + '?start=' + start+ '&'+'end=' + end+'&'+'firstScope=' + firstScope+ '&'+'secondScope=' + secondScope+ '&'+'publisher=' + publisher ;
        alert(JSON.stringify(json));
        window.location.href ="/JS_ArticleShow?para="+ JSON.stringify(json);//编码传值*/
        /*$.ajax({
            url: "/JS_ArticleShow",
            type: "POST",
            data: report,
            success: function (data) {
                var jsonb = eval(data);
                console.log("======jsonb=====");
                console.log(jsonb);
                alert(data);
                var info5 = "";
                $("#show_tbody").html("");
                $.each(jsonb, function (index, item) {
                    $.each(item['resultlist'], function (y, e) {
                        var json = eval(e);
                        info5 +="<tr >\n" +
                            "                        <td>"+json.id+"</td>\n" +
                            "                        <td>"+json.name+"</td>\n" +
                            "                        <td>"+json.date+"</td>\n" +
                            "                        <td>"+json.realScope+"</td>\n" +
                            "                        <td>"+json.publisher+"</td>\n" +
                            "                        <td>"+json.country+"</td>\n" +
                            "                        <td>"+json.url+"</td>\n" +
                            "                        <td>\n" +
                            "                        <a href=\"#\" class=\"edit\">编辑</a>\n" +
                            "                            <a href=\"#\" class=\"del\">删除</a>\n" +
                            "                            </td>\n" +
                            "                            </tr>"

                    });
                });
                $("#show_tbody").html(info5);
            },
            error: function () {
                alert("请求失败");
            },
        })*/

        $.ajax({
            url: "http://127.0.0.1:8888/search",
            method: 'POST',
            dataType: 'jsonp',
            jsonp: "callback",
            jsonpCallback: "successCallback",//回调方法
            contentType: 'application/json',
            data: {
                'search_word': $("#keyword").val(),
            },
            success: function (data) {
                var info5 = "";
                $("#show_tbody").html("");
                var index = 0;
                console.log("json对象："+data.new_list);
                $.each(data.new_list, function (y, e) {
                        var json = e;
                        index++;
                        info5 +="<tr >\n" +
                            "                        <td>"+ index +"</td>\n" +
                            "                        <td class=\"roleCodes\">"+json.title+"</td>\n" +
                            "                        <td>"+json.content.substring(0,80)+"</td>\n" +
                            "                        <td id=\"content\" style=\"display:none\">"+json.content+"</td>\n" +
                            "                        <td>\n" +
                            "                        <button id=\"edit\">加入购物车</button>\n" +
                            "                            <button id=\"del\">删除</button>\n" +
                            "                            </td>\n" +
                            "                            </tr>"
                });

                $("#show_tbody").html(info5);
            },
            error: function () {
                alert("请求失败");
            },
        })
    });

    var text_data = [];
    $("#show_tbody").on('click',"button[id='edit']" ,function() {
        var text = $(this).parents("tr").find("#content").text();
        alert(text);
        text_data.push(text);
        text_data.push("###");
    });
</script>
</div>
</body>
</html>