<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成果</title>
    <link th:href="@{/css/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/jquery.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/report_upload/bootbox.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="./js/report_upload/defaults-zh_CN.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/report_upload/style.css">
    <!--加载等待样式-->
    <link rel="stylesheet" type="text/css" href="./css/report_upload/loadingbutton.css">

    <!--字体样式-->
    <link rel="stylesheet" type="text/css" href="./css/common_css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='./css/common_css/normalize.css'>
    <link rel="stylesheet" href="./css/common_css/style.css" media="screen" type="text/css"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!--<link  rel="stylesheet" href="./css/report_upload/bootstrap.min.css">-->
    <link rel="stylesheet" href="./css/report_upload/bootstrap-select.min.css">
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/report_upload/mejs.js"></script>

    <link rel='stylesheet' href='./css/common/modalBox.css'>

    <style type="text/css">
        .spinner {
            width: 40px;
            height: 40px;

            position: relative;
            margin: auto;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #333;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    </style>

    <script>
        function getPercent() {
            $('#btn').toggle();
            $('#spinner').toggle();
            $.ajax({
                url: "http://127.0.0.1:7005/indication",
                method: 'POST',
                dataType: 'jsonp',
                jsonp: "callback",
                jsonpCallback: "successCallback_predict2",//回调方法
                contentType: 'application/json',
                data: {},
                success: function (percent) {
                    $('#btn').toggle();
                    $('#spinner').toggle();
                    $('#percent_span').html(percent.indication);
                    $('#percent_show').show();
                },
                error:function () {
                    $('#btn').toggle();
                    $('#spinner').toggle();
                    alert("服务器出现了一点问题,请稍后重试");
                }
            });
        }
    </script>
</head>
<body style="background-color: inherit">

<div th:insert="~{/JS_Common::topbar}"></div>
<div style="display: flex;">
    <div th:insert="~{/JS_Common::leftbar}"></div>
    <div class="box">
        <!--次导航栏-->
        <div style="display: block; padding: 0;margin-left: 20px">
            <blockquote class="layui-elem-quote layui-text">
                <ol class="breadcrumb" style="width: 100%;padding: 0;margin: 0;color: #0f4485">
                    <li><a href="JS_Index">首页</a></li>
                    <li><a href="JS_PowerUpload">指标验证</a></li>
                    <li class="active">文本分类指标</li>
                </ol>
            </blockquote>
        </div>
        <div style="padding-left: 50px">
            <h2></h2>
            <div class="row">

                <!--<div class='col-sm-3'>
                    <div class="form-group">
                        &lt;!&ndash;指定 date标记&ndash;&gt;
                        <div class='input-group'>
                            <a>关键词：</a>
                            <input id="keywords" style="width: 290px" type='text' class="form-control" placeholder="请输入要查找的文章名称"/>
                        </div>
                    </div>
                </div>
                <div class="search_input">
                    <button class="btn btn-primary search_btn" type="button" id="search_btn">文本查询</button>
                </div>-->
                <div class="col-sm-4" style="margin-left: 30px">
                  <!--  <a>天基互联网：准确率:0.8596,召回率:0.7891,F1:0.8228<br></a>
                    <a>人工智能：准确率:0.8652,召回率:0.7713,F1:0.8156<br></a>-->
                    <a>中文数据准确率:96.81% ; 英文数据准确率：98.73%<br></a>
                </div>
            </div>        <!--表格列表-->
            <!--表格列表-->
            <table id="tb" class="table" width="100%"  style="table-layout:fixed">
                <thead>
                <tr>
                    <!--<th style="width: 50px"><input id="checkAll" type="checkbox" /></th>-->
                    <th style="width: 100px">编号</th>
                    <th style="width: 280px">标题</th>
                    <th style="width: 180px">所属领域</th>
                    <th style="width: 180px">分类结果</th>
                    <th style="width: 180px">日期</th>
                    <th style="width: 280px">URL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data :${pageInfo.list}">
                   <!-- <td><input type="checkbox"></td>-->
                    <td  th:text="${data.id}"></td>
                    <td  th:text="${data.title}"></td>
                    <td  th:text="${data.field}"></td>
                    <td  th:text="${data.label}"></td>
                    <td  th:text="${data.date}"></td>
                    <td  th:text="${data.url}"></td>
                </tr>
                </tbody>
            </table>

            <div>
                <a id="btn" class="btn btn-default"
                   style="height: 30px ;margin-top: -4px;margin-left:45%;margin-right:5%;background-color: #337ab7;color: white" onclick="getPercent()">指标验证</a>
                <div id="percent_show" hidden style="font-size: 16px;">
                    测试集的准确率为<span id="percent_span" style="font-size: 16px;color: blue;">92%</span>
                </div>
            </div>

            <div class="spinner" id="spinner" style="display: none">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <nav aria-label="Page navigation" class="" style="margin-left: 800px;">
                <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
                <a th:href="@{'/JS_Text?keywords='+${key}}">首页</a>
                <a th:href="@{/JS_Text(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1,keywords=${key})}">上一页</a>
                <a th:href="@{/JS_Text(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages},keywords=${key})}">下一页</a>
                <a th:href="@{/JS_Text(pageNum=${pageInfo.pages},keywords=${key})}">尾页</a>
            </nav>
        </div>
    </div>
</div>
</body>
<script>
    $("#search_btn").click(function () {
        var keywords = $('#keywords').val();
        window.location.href="/JS_Tech?keywords="+keywords;
    });
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</html>