/*global.css*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;}
*html, *html body{background-image:url(about:blank);background-attachment:fixed;}
body{margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a {background:transparent;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
b,strong{font-weight:bold;}
img{border:0;}
svg:not(:root){overflow:hidden;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
textarea{overflow:auto;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
menu,ol,ul{padding:0;list-style:none;list-style-image:none;}
.vh{visibility:hidden;}
a{color:inherit;text-decoration:none;}
h1,h2,h3,h4,h5,h6,dl,dd,ol,ul,menu,figure,blockquote,p,pre,form{margin:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix{zoom:1;display:block;}
.hidden{ display:none;}
a{color:#404040;text-decoration:none;}
a:hover{color:#f04040;}
img{vertical-align:middle;}
body,html{font-family:"Microsoft YaHei","\5fae\8f6f\96c5\9ed1","\5b8b\4f53",sans-serif;width:100%;height:100%;color:#404040;}
.blue{color:#3478f7;}
/*demo-page*/
.ad-demo{width:1200px;height:90px;margin:0 auto;background-color:#ebebeb;}
/*china-ad*/
.media-r{margin-top:30px;}
.media-t{margin-top:30px;}
.media-t img{display:block;margin:0 auto;}
/*root*/
.channel-nav,.main-header,.header-crumbs,.inner-guid,.group,.wrapper{width:1200px;margin:0 auto;}
.wrapper{margin-top:20px;border-top:solid 1px #fff;}
.wrapper.border-t{border-top:solid 1px #eee;}
.wrap-left,.article-left{width:830px;float:left;overflow:hidden;}
.wrap-right,.article-right{width:336px;float:right;}

.wrap-rank{border:none;padding-top:20px;}
.wrapper-title{height:40px;line-height:25px;}
.wrapper-title h2{position:relative;height:25px;float:left;font-size:16px;}
.wrapper-title .icon{float:left;width:25px;height:25px;background-image:url(../img/icon.png);background-repeat:no-repeat;background-position:-189px 0;}
.wrapper-title em{float:left;margin-left:10px;font-style:normal;}
.wrapper-title span{width:226px;height:25px;display:block;float:left;margin-left:10px;background-image:url(../img/classify-txt.png);background-repeat:no-repeat;background-position:0 -225px;overflow:hidden;text-indent:-300px;}
/*main-header*/
.main-header-bg{padding:22px 0;border-bottom:solid 3px #3385e1;}
.main-header{height:80px;}
.main-header .logo{float:left;display:block;width:120px;height:80px;background:url(../img/logo.png) no-repeat 50% 50%;background-size:contain;}
.main-header .main-search{float:left;width:624px;margin-left:170px;margin-top:5px;}
.main-header .main-search-input{width:620px;height:40px;border:solid 2px #3385e1;border-radius:22px;overflow:hidden;line-height:40px;}
.main-header .main-search-input input{float:left;width:460px;height:40px;padding:0 20px;border:none;font-size:14px;color:#aaa;}
.main-header .main-search-input .s-btn{float:right;display:block;width:120px;height:40px;border-bottom-left-radius:20px;border-top-left-radius:20px;color:#fff;background-color: #3385e1;text-align:center;}
.main-header .main-search-txt{font-size:14px;color:#ccc;line-height:10px;margin-top:10px;margin-left:40px;}
.main-header .main-search-txt span,.main-header .main-search-txt a{color:#666;}
.main-header .main-search-txt a{padding:0 10px;}
.main-header .main-search-txt a:hover{color: #2790ed;}
.main-header .main-media{float:right;width:200px;height:80px;}
.main-header .main-media img{display:block;width:200px;height:80px;}
/**/
.header-crumbs,.header-crumbs a{padding-top:20px;color:#666;font-size:14px;line-height:30px;}
.header-crumbs a:hover{color: #3385e1;}
